USE [master]
GO
/****** Object:  Database [locro2025Dev]    Script Date: 29/6/2025 11:27:49 ******/
CREATE DATABASE [locro2025Dev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'locro2025Prod', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\locro2025Dev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'locro2025Prod_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\locro2025Dev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [locro2025Dev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [locro2025Dev]
GO
/****** Object:  User [locro_user]    Script Date: 29/6/2025 11:27:49 ******/
CREATE USER [locro_user] FOR LOGIN [locro_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [locro_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [locro_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [locro_user]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 29/6/2025 11:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sellers]    Script Date: 29/6/2025 11:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sellers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[section] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 29/6/2025 11:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[unit_cost] [decimal](18, 2) NOT NULL,
	[is_paid] [bit] NOT NULL,
	[is_delivered] [bit] NOT NULL,
	[observations] [nvarchar](max) NULL,
	[withdrawal_time] [datetime] NULL,
	[sale_date] [datetime] NULL,
	[payment_date] [datetime] NULL,
	[sold] [bit] NOT NULL,
	[traditional_qty] [int] NOT NULL,
	[vegan_qty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets_Backup]    Script Date: 29/6/2025 11:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets_Backup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[unit_cost] [decimal](18, 2) NOT NULL,
	[is_paid] [bit] NOT NULL,
	[is_delivered] [bit] NOT NULL,
	[observations] [nvarchar](max) NULL,
	[withdrawal_time] [datetime] NULL,
	[sale_date] [datetime] NULL,
	[payment_date] [datetime] NULL,
	[sold] [bit] NOT NULL,
	[traditional_qty] [int] NOT NULL,
	[vegan_qty] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets_New]    Script Date: 29/6/2025 11:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets_New](
	[code] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[unit_cost] [decimal](10, 2) NOT NULL,
	[traditional_qty] [int] NOT NULL,
	[vegan_qty] [int] NOT NULL,
	[is_paid] [bit] NOT NULL,
	[is_delivered] [bit] NOT NULL,
	[sold] [bit] NOT NULL,
	[observations] [nvarchar](1000) NULL,
	[withdrawal_time] [datetime2](7) NULL,
	[sale_date] [datetime2](7) NOT NULL,
	[payment_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([id], [name], [phone]) VALUES (2, N'Monica Federico', N'')
INSERT [dbo].[Clients] ([id], [name], [phone]) VALUES (3, N'Cristian Arguello', N'')
INSERT [dbo].[Clients] ([id], [name], [phone]) VALUES (4, N'Rafaela Flores', N'')
GO
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Sellers] ON 

INSERT [dbo].[Sellers] ([id], [name], [section]) VALUES (1, N'ARGUELLO, Luisana', N'Manada')
INSERT [dbo].[Sellers] ([id], [name], [section]) VALUES (2, N'CORREA Matheo', N'Manada')
INSERT [dbo].[Sellers] ([id], [name], [section]) VALUES (3, N'DE LA O''PRADOS, Joaquin', N'Manada')
GO
SET IDENTITY_INSERT [dbo].[Sellers] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([id], [code], [seller_id], [client_id], [unit_cost], [is_paid], [is_delivered], [observations], [withdrawal_time], [sale_date], [payment_date], [sold], [traditional_qty], [vegan_qty]) VALUES (2, 526, 97, 2, CAST(6000.00 AS Decimal(18, 2)), 1, 0, N'observacion test', NULL, CAST(N'2025-05-25T00:00:00.000' AS DateTime), CAST(N'2025-05-23T19:33:46.863' AS DateTime), 1, 10, 15)
INSERT [dbo].[Tickets] ([id], [code], [seller_id], [client_id], [unit_cost], [is_paid], [is_delivered], [observations], [withdrawal_time], [sale_date], [payment_date], [sold], [traditional_qty], [vegan_qty]) VALUES (3, 1, 1, 3, CAST(6000.00 AS Decimal(18, 2)), 0, 0, N'', NULL, CAST(N'2025-05-25T00:00:00.000' AS DateTime), NULL, 1, 1, 0)
INSERT [dbo].[Tickets] ([id], [code], [seller_id], [client_id], [unit_cost], [is_paid], [is_delivered], [observations], [withdrawal_time], [sale_date], [payment_date], [sold], [traditional_qty], [vegan_qty]) VALUES (4, 2, 1, 4, CAST(6000.00 AS Decimal(18, 2)), 0, 0, N'', NULL, CAST(N'2025-05-25T00:00:00.000' AS DateTime), NULL, 1, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets_Backup] ON 

INSERT [dbo].[Tickets_Backup] ([id], [code], [seller_id], [client_id], [unit_cost], [is_paid], [is_delivered], [observations], [withdrawal_time], [sale_date], [payment_date], [sold], [traditional_qty], [vegan_qty]) VALUES (2, 526, 97, 2, CAST(6000.00 AS Decimal(18, 2)), 1, 0, N'observacion test', NULL, CAST(N'2025-05-25T00:00:00.000' AS DateTime), CAST(N'2025-05-23T19:33:46.863' AS DateTime), 1, 10, 15)
INSERT [dbo].[Tickets_Backup] ([id], [code], [seller_id], [client_id], [unit_cost], [is_paid], [is_delivered], [observations], [withdrawal_time], [sale_date], [payment_date], [sold], [traditional_qty], [vegan_qty]) VALUES (3, 1, 1, 3, CAST(6000.00 AS Decimal(18, 2)), 0, 0, N'', NULL, CAST(N'2025-05-25T00:00:00.000' AS DateTime), NULL, 1, 1, 0)
INSERT [dbo].[Tickets_Backup] ([id], [code], [seller_id], [client_id], [unit_cost], [is_paid], [is_delivered], [observations], [withdrawal_time], [sale_date], [payment_date], [sold], [traditional_qty], [vegan_qty]) VALUES (4, 2, 1, 4, CAST(6000.00 AS Decimal(18, 2)), 0, 0, N'', NULL, CAST(N'2025-05-25T00:00:00.000' AS DateTime), NULL, 1, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[Tickets_Backup] OFF
GO
INSERT [dbo].[Tickets_New] ([code], [seller_id], [client_id], [unit_cost], [traditional_qty], [vegan_qty], [is_paid], [is_delivered], [sold], [observations], [withdrawal_time], [sale_date], [payment_date]) VALUES (1, 1, 3, CAST(6000.00 AS Decimal(10, 2)), 1, 0, 0, 0, 1, N'', NULL, CAST(N'2025-05-25T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Tickets_New] ([code], [seller_id], [client_id], [unit_cost], [traditional_qty], [vegan_qty], [is_paid], [is_delivered], [sold], [observations], [withdrawal_time], [sale_date], [payment_date]) VALUES (2, 1, 4, CAST(6000.00 AS Decimal(10, 2)), 2, 0, 0, 0, 1, N'', NULL, CAST(N'2025-05-25T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Tickets_New] ([code], [seller_id], [client_id], [unit_cost], [traditional_qty], [vegan_qty], [is_paid], [is_delivered], [sold], [observations], [withdrawal_time], [sale_date], [payment_date]) VALUES (3, 1, 5, CAST(6000.00 AS Decimal(10, 2)), 2, 0, 0, 0, 1, N'', NULL, CAST(N'2025-05-25T00:00:00.0000000' AS DateTime2), NULL)
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((6000)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [is_delivered]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((1)) FOR [sold]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [traditional_qty]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [vegan_qty]
GO
ALTER TABLE [dbo].[Tickets_New] ADD  DEFAULT ((0)) FOR [traditional_qty]
GO
ALTER TABLE [dbo].[Tickets_New] ADD  DEFAULT ((0)) FOR [vegan_qty]
GO
ALTER TABLE [dbo].[Tickets_New] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[Tickets_New] ADD  DEFAULT ((0)) FOR [is_delivered]
GO
ALTER TABLE [dbo].[Tickets_New] ADD  DEFAULT ((1)) FOR [sold]
GO
ALTER TABLE [dbo].[Tickets_New] ADD  DEFAULT (getdate()) FOR [sale_date]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[Clients] ([id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Clients]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Sellers] FOREIGN KEY([seller_id])
REFERENCES [dbo].[Sellers] ([id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Sellers]
GO
USE [master]
GO
